<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb189022239044295</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.346816803035-53plirli74843ajjqdn2r8hs2virujot</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.gogo.userApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gogofood</string>
			</array>
			<key>New item</key>
			<string></string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>189022239044295</string>
	<key>FacebookDisplayName</key>
	<string>GOGO FOOD</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>yourdomain.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>To get your current location for showing the nearby restuarent available within  some distnace and also aassign driver  to delivery orders</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>To get your current location for showing the nearby restuarent available within  some distnace and also aassign driver  to delivery orders</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>To get your current location for showing the nearby restuarent available within  some distnace and also aassign driver  to delivery orders</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To get your current location for showing the nearby restuarent available within  some distnace and also aassign driver  to delivery orders</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need microphone access for recognize your speech and use it as search dishes and restuarent</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To get your precaptured Image and use it as display picture for the application </string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Need microphone access for recognize your speech and use it as search dishes and restuarent</string>
	<key>New item</key>
	<string></string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Authentication</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>branch_key</key>
	<string>key_live_epG6De3Ux8pOzxrDUibp9kfcDwpTf2Bi</string>
</dict>
</plist>
