<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Driver.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Restaurant.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>User.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5B365AF23F722120017DB84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5B365F523F7223D0017DB84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5E244EA23ED5E18003C21CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5E244FE23ED5E1B003C21CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5F9AF4823F1E0DB00FCA154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5F9AF7323F1E14300FCA154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
