<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mobius.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
				<key>dateExpires</key>
				<string>05/06/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
						<key>dateExpires</key>
						<string>05/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2K8854D9M5</string>
						<key>name</key>
						<string>Prasoon Nigam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
						<key>dateExpires</key>
						<string>05/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Colours.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2K8854D9M5</string>
						<key>name</key>
						<string>Prasoon Nigam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
						<key>dateExpires</key>
						<string>05/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2K8854D9M5</string>
						<key>name</key>
						<string>Prasoon Nigam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
						<key>dateExpires</key>
						<string>05/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2K8854D9M5</string>
						<key>name</key>
						<string>Prasoon Nigam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
						<key>dateExpires</key>
						<string>05/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2K8854D9M5</string>
						<key>name</key>
						<string>Prasoon Nigam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
						<key>dateExpires</key>
						<string>05/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2K8854D9M5</string>
						<key>name</key>
						<string>Prasoon Nigam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
						<key>dateExpires</key>
						<string>05/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MMDrawerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2K8854D9M5</string>
						<key>name</key>
						<string>Prasoon Nigam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
						<key>dateExpires</key>
						<string>05/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2K8854D9M5</string>
						<key>name</key>
						<string>Prasoon Nigam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
						<key>dateExpires</key>
						<string>05/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SKToast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2K8854D9M5</string>
						<key>name</key>
						<string>Prasoon Nigam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
						<key>dateExpires</key>
						<string>05/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2K8854D9M5</string>
						<key>name</key>
						<string>Prasoon Nigam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
						<key>dateExpires</key>
						<string>05/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SharkORM.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2K8854D9M5</string>
						<key>name</key>
						<string>Prasoon Nigam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
						<key>dateExpires</key>
						<string>05/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>UICircularProgressRing.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2K8854D9M5</string>
						<key>name</key>
						<string>Prasoon Nigam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
						<key>dateExpires</key>
						<string>05/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>XJYChart.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2K8854D9M5</string>
						<key>name</key>
						<string>Prasoon Nigam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
						<key>dateExpires</key>
						<string>05/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Zip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2K8854D9M5</string>
						<key>name</key>
						<string>Prasoon Nigam</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4256143823CE258895B2508BBB61A0B627AB5691</string>
						<key>dateExpires</key>
						<string>05/06/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2K8854D9M5</string>
						<key>name</key>
						<string>Prasoon Nigam</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2K8854D9M5.com.stratbeans.mobiusapp</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2K8854D9M5</string>
				<key>com.apple.security.application-groups</key>
				<array/>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Mobius.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b7905e77-5456-47df-bfab-fcce2e089c1c</string>
				<key>name</key>
				<string>NewMobious_Dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2K8854D9M5</string>
				<key>name</key>
				<string>Prasoon Nigam</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
